html{
  height: 100%;}

body{
	height: 100%;
  width: 100%;
	background-image: url("../../imagini/background.jpg");
	background-size: cover;}

*{
  margin: 0;
  padding: 0;}

#header{ 
  display: flex;
  justify-content: flex-start;
  background: transparent;
  padding-top: 20px;}

#menubar{ 
  display: flex;
  justify-content: flex-start;
  margin: auto;
  background: #996633;
  border-radius: 15px 15px 0px 0px;}  

ul#menu li{
  padding: 0 0 0 0px;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a{ 
  float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  height: 24px;
  padding: 16px 20px 10px 20px;
  background: transparent; } 
  
ul#menu li.current a{ 
  color: #FFF;
  background: #323232;
  border-radius: 15px 15px 0px 0px;}
  
ul#menu li:hover a{ 
  color: #FFF;
  background: #323232;
  border-radius: 15px 15px 0px 0px;}

#welcome H1{ 
  font: normal 300% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}

button{
    border: 1px #e69900;
    background-color: #e69900;
    color: black;
    padding: 10px;}

.logout{
  padding: 8px;}

.container{
  display: flex;
}

.search{
  display: flex;
  width: 150px;
  border-right: 1px solid black;
  flex-direction: column;
  justify-content: center;
  padding: 30px;}

.search .interese, .search .localizare, .search .varsta, .search .facultate{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 15px;}

.searchButton{
  float: center;}

.group{
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 30px;
  justify-content: center;}

  .contacts{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .contacts img{
    height: 30px;
    transform: translate(50%,100%);
    border-radius: 50%;
  }
  
  .contact a{
    display: flex;
    padding-left: 50px;
    font-size: 20px;
  }

  @media(min-width: 851px){
    #main, #header, #menubar{
      margin-left: auto; 
      margin-right: auto;
    width: 1000px;}
    #menubar{
      display:flex;
      justify-content: space-between;
    }
    .logout{display: flex;}
  }
  
  @media(max-width: 850px){
      #main, #header, #menubar{
        margin-left: auto; 
        margin-right: auto;
        font-size: 10px;
      }
      #menubar{
        display:flex;
        justify-content: space-between;
      }
      .logout{display: flex;}
    }